In [ ]:
# 1. insert 10, 20, and 100 in the below list and print the sorted list
l1 = [1, 24, 36, 50, 60]

In [ ]:
# 2. merge below given tuples into a single list, also discard the duplicate elements 
    #and sort them in ascending order
t1 = (10, 20, 30, 40, 50, 60, 70)
t2 = (50, 60, 70, 80, 90, 100)

In [ ]:
# 3. retrieve 5 from the below list
l1 = [1, 2, 3, 4, [1, 2, 3, [9, 5]]]

In [ ]:
# 4. convert a tuple into list and print a list

In [ ]:
# 5. create a new tuple by index-wise subtraction of tuples
# sample input: 
# t1 = (10, 20, 30, 40, 50)
# t2 = (1, 2, 3, 4, 5)

# sample output
# t3 = (9, 18, 27, 36, 45)

In [ ]:
# 6. retrieve 77 from below dictionary
d1 = {1:[10, 20, {'A': 11, 'B':20, 'C':77}]}

In [ ]:
# 7. consider below list and fetch [10, 7, 4, 1] and prepare another list 

l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# 8. print the strings which has a letter 'a' or 'A' in it (without using loop)
l1 = ['Amit', 'Baban', 'Dishi', 'Lily', 'John', 'Akshit', 'Priyanka']

l2 = [name for name in l1 if 'a' in name or "A" in name]
l2

['Amit', 'Baban', 'Akshit', 'Priyanka']

In [ ]:
# 9. print the keys of below dictionary if corresponding value is 5000 or above  
d1 = {1:1000, 2:2000, 3:3000, 4:4000, 5:5000, 6:6000, 7:7000}

In [8]:
# 10. # accept the values from user and prepare a dictionary as shown below:
# {10:'IT', 20:'Account', 30:'consulting', 40: Audit, 50:'Tax'}



emp = {}

for i in range(5):
    emp_id = input("Enter student's name: ")
    emp_dept = input("Enter student's mark: ")
    emp[emp_id.title()] = emp_dept

print(emp)

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' (152331574.py, line 9)